body {
    --primary-color: #00ADEF;
    --text-color: #333333;
    --white-text: #FEFEFE;
    --gray-bg: #F3F3F3;
}

html {
    font-family: 'Roboto', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    position: relative;
}

.pd-0 {
    padding: 0 !important;
}

.mg-0 {
    margin: 0 !important;
}

.wrapper, .wrapper-navbar {
    display: flex;
    max-width: 1090px;
    margin: 0 auto !important;
}

.wrapper {
    display: block;
}

.hal-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.gray-bg {
    background-color: #EBEBEB;
    height: 100%;
}

.hide-to-left {
    margin-left: -100% !important;
}

.show-from-left {
    margin-left: 0 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    visibility: visible;
    opacity: 1;
}




